body{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font: .28rem/1.4286 "微软雅黑", "STHeitiSC-Light", "Helvetice-Light", arial, sans-serif;
  background: #f3f3f3;
}
.response{
  display: block;
  width: 100%;
}
.flex-container{
  display: flex;
}
.flex{
  display: block;
  flex: 1;
  min-width: 0;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}
a{
    color: #464646;
}


.pswp__top-bar{
    .pswp__button {
        display: none;
    }
}
.pswp__counter {
    width: 100%;
    text-align: center;
}

.mint-loadmore-top {
    margin-top: -80px;
    height: 80px;
    line-height: 80px;
    span {
        display: block;
        &:nth-child(1) {
            transition: .2s linear;
        }
        &.rotate{
            transform: rotate(180deg);
        }
        img {
            margin-top: 20px;
            width: 50px;
            height: 50px;
        }
    }
}
