body{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-size: .14rem;
}
.response{
  display: block;
  width: 100%;
}
.flex-container{
  display: flex;
}
.flex{
  display: block;
  flex: 1;
  min-width: 0;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}
.yd-backtop{
    bottom: 1.5rem;
    width: .8rem;
    height: .8rem;
    border: none;
    border-radius: 3px;
    background: rgba(0,0,0,.3);
    .iconfont{
        color: #fff;
    }
    &:after{
        display: none;
    }
}
